<a href="https://colab.research.google.com/github/sun971/learning-nlp/blob/main/DataSci_Group_38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd

# COVID Dataset

In [3]:
covidata = pd.read_csv('/content/covid19-download.csv')
covidata

,pruid,prname,prnameFR,date,reporting_week,reporting_year,update,totalcases,numtotal_last7,ratecases_total,...,ratecases_last7,ratedeaths_last7,numtotal_last14,numdeaths_last14,ratetotal_last14,ratedeaths_last14,avgcases_last7,avgincidence_last7,avgdeaths_last7,avgratedeaths_last7
0,59,British Columbia,Colombie-Britannique,2020-02-01,5,2020,1.0,1,1.0,0.02,...,0.02,0.00,NaN,NaN,NaN,NaN,0.18,0.00,0.00,0.00
1,48,Alberta,Alberta,2020-02-01,5,2020,1.0,0,0.0,0.00,...,0.00,0.00,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00
2,47,Saskatchewan,Saskatchewan,2020-02-01,5,2020,1.0,0,0.0,0.00,...,0.00,0.00,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00
3,46,Manitoba,Manitoba,2020-02-01,5,2020,1.0,0,0.0,0.00,...,0.00,0.00,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00
4,35,Ontario,Ontario,2020-02-01,5,2020,1.0,3,3.0,0.02,...,0.02,0.00,NaN,NaN,NaN,NaN,0.43,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,60,Yukon,Yukon,2023-03-04,9,2023,0.0,4989,NaN,11393.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,61,Northwest Territories,Territoires du Nord-Ouest,2023-03-04,9,2023,0.0,11511,NaN,25240.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2427,62,Nunavut,Nunavut,2023-03-04,9,2023,0.0,3531,NaN,8712.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2428,99,Repatriated travellers,Voyageurs rapatri√©s,2023-03-04,9,2023,NaN,13,0.0,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,0.00,NaN
2429,1,Canada,Canada,2023-03-04,9,2023,NaN,4609277,8688.0,11839.94,...,22.32,0.33,17894.0,271.0,45.96,0.7,1241.14,3.19,18.43,0.05

In [12]:
# now sort the pruid's 
sort_covidata = covidata.sort_values(by='pruid')
sort_covidata['date']= pd.to_datetime(sort_covidata['date'])
date_fixed = sort_covidata[(sort_covidata.date.dt.month==10)]
date_fixed
# clean_data= date_fixed.groupby(["prname","date"]).agg({'totalcases':'sum'}).reset_index()
# clean_data = date_fixed.groupby(['prname', 'date'])['totalcases'].sum()
# clean_data

,pruid,prname,prnameFR,date,reporting_week,reporting_year,update,totalcases,numtotal_last7,ratecases_total,...,ratecases_last7,ratedeaths_last7,numtotal_last14,numdeaths_last14,ratetotal_last14,ratedeaths_last14,avgcases_last7,avgincidence_last7,avgdeaths_last7,avgratedeaths_last7
599,1,Canada,Canada,2020-10-31,44,2020,NaN,229701,20923.0,590.04,...,53.75,0.66,38620.0,457.0,99.20,1.17,2989.00,7.68,36.57,0.09
584,1,Canada,Canada,2020-10-24,43,2020,NaN,208778,17697.0,536.29,...,45.46,0.52,33956.0,343.0,87.22,0.88,2528.14,6.49,28.71,0.07
569,1,Canada,Canada,2020-10-17,42,2020,NaN,191081,16259.0,490.83,...,41.76,0.36,31043.0,284.0,79.74,0.73,2322.71,5.97,20.29,0.05
554,1,Canada,Canada,2020-10-10,41,2020,NaN,174820,14784.0,449.06,...,37.98,0.36,28635.0,358.0,73.56,0.92,2112.00,5.43,20.29,0.05
539,1,Canada,Canada,2020-10-03,40,2020,NaN,160036,13851.0,411.09,...,35.58,0.55,23493.0,272.0,60.35,0.70,1978.71,5.08,30.86,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,99,Repatriated travellers,Voyageurs rapatri√©s,2020-10-31,44,2020,NaN,13,0.0,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,0.00,NaN
583,99,Repatriated travellers,Voyageurs rapatri√©s,2020-10-24,43,2020,NaN,13,0.0,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,0.00,NaN
568,99,Repatriated travellers,Voyageurs rapatri√©s,2020-10-17,42,2020,NaN,13,0.0,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,0.00,NaN
553,99,Repatriated travellers,Voyageurs rapatri√©s,2020-10-10,41,2020,NaN,13,0.0,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,0.00,NaN
538,99,Repatriated travellers,Voyageurs rapatri√©s,2020-10-03,40,2020,NaN,13,0.0,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,0.00,NaN

In [11]:
clean_data = date_fixed.groupby(['prname', 'reporting_year'])['totalcases'].sum()
# clean_data = date_fixed.groupby('prname')['totalcases'].sum()

clean_data
# group by year and month -> reporting week? pandas group by

prname                     reporting_year
Alberta                    2020                114727
                           2021               1573505
                           2022               3054152
British Columbia           2020                 58042
                           2021                985584
                           2022               1934199
Canada                     2020                964416
                           2021               8367527
                           2022              21576179
Manitoba                   2020                 17701
                           2021                310447
                           2022                754773
New Brunswick              2020                  1433
                           2021                 27759
                           2022                397018
Newfoundland and Labrador  2020                  1425
                           2021                  9446
                           2022                261755
Northwest Territories      2020                    33
                           2021                  7623
                           2022                 57555
Nova Scotia                2020                  5485
                           2021                 35369
                           2022                643159
Nunavut                    2020                     0
                           2021                  3353
                           2022                 17655
Ontario                    2020                320897
                           2021               2970031
                           2022               7361525
Prince Edward Island       2020                   314
                           2021                  1550
                           2022                263591
Quebec                     2020                432065
                           2021               2071144
                           2022               6074285
Repatriated travellers     2020                    65
                           2021                    65
                           2022                    65
Saskatchewan               2020                 12141
                           2021                367458
                           2022                731792
Yukon                      2020                    88
                           2021                  4193
                           2022                 24655
Name: totalcases, dtype: int64

In [ ]:
# remove repreated travellers


# Census Data set

In [ ]:
#All Necessary imports will be placed here, we will utilize scikit-learn, matplotlib, and pandas
import pandas as pandas
import sklearn
import matplotlib.pyplot as plt
import seaborn as seaborn
import numpy as numpy

cencus2021_df= pandas.read_csv("/content/cencus2021.csv", encoding="latin-1")

cencus2021_df

TypeError: ignored

# Housing DataSet